<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.apache3">
    <application>
        <activity class=".LocateMe" android:label="LocateMe">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
